body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.signupContainer input[type=text],.signupContainer input[type=email],.signupContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 2px 0 10px 0;
  display: inline-block;
  border: 1px solid lightgray;
  background: #f1f1f1;
}


.signupContainer input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

.signupbtn {
  background-color: #19194d;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity:1;
}


.signupBackdrop {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #6666cc;
  padding-top: 50px;
}

.signupContainer {
  background-color: #fefefe;
  margin: 1% auto 15% auto; 
  border: 1px solid #888;
  width: 30%; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 100%;
}
 

.loginlink{
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 600px) {
 .signupbtn {
     width: 100%;
     margin-top: 0px;
  }
  .signupContainer{
    width: 100%; 
  }
}